<!-- 1st Section  Start   -->

<div class="container-fluid">
    <div class="row bg_color">
        <div class="container">
            <div class="row headRow">
                <div class="col-md-8 p-4 col_width ">

                    <h1 style="text-align: justify;">Small Business SEO</h1>
                    <p style="text-align: justify;" class="p-2">Providing affordable SEO services for small businesses
                        to fortune 500s</p>
                </div>
                <div class="col-md-4 p-4 col_width">
                    <img class="clutchimg" [src]="magento" alt="magento">
                </div>
            </div>

        </div>
    </div>
</div>

<!-- 1st Section  end   -->

<!-- 2nd Section  Start   -->

<div class="container-fluid">
    <div class="row ">
        <div class="container">
            <div class="row headRow">
                <div class="col-md-7 p-4 col_width textJus ">
                    <p style="text-align: justify;" class="p-2">Associate with our small business SEO service providers,
                        and let&rsquo;s discuss your business requirements in detail.</p>
                    <p>Let&rsquo;s Hop on a Quick Call!</p>
                    <h3>AdsRole &ndash; The Best Provider of Affordable SEO Services for Small Businesses</h3>
                    <p>We at AdsRole take all necessary steps to rank a small or emerging business to new heights. Be it
                        our experience or small business SEO approach, we excel in everything, and that&rsquo;s visible
                        in our service results.</p>
                    <p>For years, we have provided small business SEO services to companies to remain on the top search
                        results of Google and other search engines.</p>
                </div>
                <div class="col-md-5 p-4 col_width">
                    <img class="clutchimg" [src]="magento" alt="magento">
                </div>
            </div>

        </div>
    </div>
</div>

<!-- 2nd Section  end   -->

<!-- 3rd section Start -->
<div class="container">
    <h3>What is in our small business SEO service package?</h3>

    <div class="row mb-4 mt-4">
        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Local SEO</h5>
                    <p class="card-text text_justify">Our SEO experts know and understand that your business requires local recognition at first. Therefore, we plan and draft a local SEO strategy that soon makes you the biggest hotshot in your town. With this, we move forward to global or international SEO services leading your way towards becoming a global brand.</p>

                </div>
            </div>

        </div>

        <!-- col 2 -->

        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">White-Hat SEO</h5>
                    <p class="card-text text_justify">When building a robust SEO base, it is mandatory to follow the right tactics to strengthen the marketing campaigns and activities to be accomplished in the future. Resulting, we make sure to use only white-hat SEO activities to give you organic search results.</p>

                </div>
            </div>


        </div>

        <!-- col 3 -->

        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Content Writing and Marketing Services</h5>
                    <p class="card-text text_justify">Be it local or international, off-page or on-page, content is necessary to make the overall marketing campaign effective and approachable. Thus, we have appointed a team of professionals to help our marketing professionals to reach their goals effectively.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 3rd section end -->

<!-- 4 section Start -->
<div class="container m-4">
    <div class="row textJus">
        <h3>What makes our affordable SEO services for small businesses so popular and preferred?</h3>
        <ol>
        <li>We believe in maintaining 100% operational transparency from the beginning till the end of the project.</li>
        <li>Our small business SEO service packages are designed to suit your budget constraints effectively.</li>
        <li>We deliver a detailed report to give you an overview of strategies for your website promotions.</li>
        </ol>
        <p>Ready to get our small business SEO services for your business?</p>
        <p>Great! Let&rsquo;s Connect!</p>
        <p>Note &ndash; Due to the Pandemic, we are accepting virtual meet-ups only! So, grab your mug of coffee, and let&rsquo;s e-discuss how we can take your business to new heights of success. To proceed, feel free to connect with our customer support representatives through call or email and schedule a meeting now.</p>
    </div>
</div>
<!-- 4 section end -->