<!-- 1st Section  Start   -->

<div class="container-fluid">
    <div class="row bg_img">
        <div class="container">
            <div class="row headRow">
                <div class="col-md-8 p-4 col_width">
                    <h1 style="text-align: justify;">Mobile Marketing Services</h1>
                    <p style="text-align: justify;" class="p-5">In this digital marketing era, mobile marketing has
                        become a revolutionary technique that attracts more and more consumers. With the help of mobile
                        marketing, you can reach a massive group of people without spending a lot of your time and money
                    </p>
                </div>
                <!-- <div class="col-md-4 p-4 col_width">
                    <img class="clutchimg" [src]="magento" alt="clutch">
                </div> -->
            </div>

        </div>
    </div>
</div>
<!-- 1st Section  end   -->

<!-- 2nd section Start -->
<div class="container m-4">
    <!-- 1st row start  -->
    <div class="row">
        <p class="text_justify">At AdsRole, we offer our clients extensive mobile marketing services, and we look
            forward to reaching out to as many consumers as possible. Our skilled professionals deliver quality mobile
            marketing to help you grow your business online without hassles.</p>
        <h5>Types of Mobile Advertising</h5>
        <p class="text_justify">At AdsRole, you will get different types of Mobile advertising. Here are a few things
            you can get from us &ndash;</p>
    </div>
    <!-- content Row 2 -->

    <div class="row mb-4 mt-4">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mobile Content Marketing </h5>
                    <p class="card-text text_justify">Good content is an integral part of online marketing. With
                        AdsRole, you can get the best &nbsp;<strong>mobile content marketing&nbsp;</strong>services at
                        your disposal. We deliver excellent content for your business that can easily reach your
                        audience and create an impact.</p>
                    <p class="card-text text_justify">Our mobile content marketing will surely help your business grow
                        to an excellent level and help you stand out.</p>
                </div>
            </div>
        </div>

        <!-- col 2 -->

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Google Ads Mobile</h5>
                    <p class="card-text text_justify">Have you ever wondered about the ads you see on different blogs
                        and websites? Where do they come from? Why are they important?</p>
                    <p class="card-text text_justify">Google ads mobile is an excellent way to advertise your business.
                        It means each time someone opens a blog, an ad for your business will run side by side. Such
                        Google ads can help you reach up to millions of people across the globe and get exposure. With
                        AdsRole, you can get such google ads mobile services at the best price.</p>
                </div>
            </div>
        </div>

        <!-- col 3 -->

        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> Mobile Video Advertising</h5>
                    <p class="card-text text_justify">Audiovisuals always make ads more exciting and interesting to
                        watch. We, at AdsRole, can create such videos for your business that will run on mobile
                        advertising ads. Our skilled and professional experts can offer excellent mobile video
                        advertising for your business and help it grow extensively.</p>

                </div>
            </div>


        </div>
    </div>
    <!-- content Row 3 -->

    <div class="row mb-4 mt-4">
        <div class="col-md-4">
            <div class="card_2">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mobile Game Advertising</h5>
                    <p class="card-text text_justify">Are you Looking for a unique way to advertise your business? With
                        AdsRole, you can now opt for mobile game advertising to help you create a moving image in front
                        of your clients. With our game advertising for mobile, you can get banner pop-ups, video ads, or
                        even full-page ads for your business.</p>
                </div>
            </div>
        </div>

        <!-- col 2 -->

        <div class="col-md-4">
            <div class="card_2">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mobile App Marketing Services</h5>
                    <p class="card-text text_justify">With the help of different services offered by Google, we at
                        AdsRole can customize mobile ads for your business that can appear in third-party apps that run
                        on mobile phones. Such mobile app marketing services can help you get in touch with a vast range
                        of customers across the globe. </p>
                </div>
            </div>
        </div>

        <!-- col 3 -->

        <div class="col-md-4">
            <div class="card_2">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mobile Web Advertising</h5>
                    <p class="card-text text_justify">At AdsRole, we also create customized ads for your business that
                        runs explicitly on mobile-friendly websites. Our Mobile web advertising can help you reach
                        incredible heights when creating relatable ads for mobiles.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- content Row 4 -->

    <div class="row mb-4 mt-4">
        <div class="col-md-4">
            <div class="card_2">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">iOS App Marketing Services</h5>
                    <p class="card-text text_justify">Not just for android mobiles, with AdsRole, you can also create customized mobile advertisements that run on iOS devices. Our trained and experienced specialists offer iOS app marketing services for your business with additional care.</p>
                </div>
            </div>
        </div>

        <!-- col 2 -->

        <div class="col-md-4">
            <div class="card_2">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Android ASO Services</h5>
                    <p class="card-text text_justify">If you are looking ahead to designing an app for your business, we can make one for you. Our customized android ASO services are specially developed for companies that need an application to operate on mobile phones. We ensure to enhance your app's visibility, get more organic downloads and improve run-time performances.</p>
                </div>
            </div>
        </div>

        <!-- col 3 -->

       <!-- <div class="col-md-4">
            <div class="card">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mobile Web Advertising</h5>
                    <p class="card-text text_justify">At AdsRole, we also create customized ads for your business that
                        runs explicitly on mobile-friendly websites. Our Mobile web advertising can help you reach
                        incredible heights when creating relatable ads for mobiles.</p>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- 2nd section end -->

<!-- 3rd section Start -->
<div class="cotainer m-4">
    <div class="row">
        <h4>Mobile Marketing Platform</h4>
        <p class="text_justify">AdsRole is an excellent mobile marketing platform that can help your business grow. We make innovative and creative mobile ad ideas for your business. Our team of experienced professionals will have a one-on-one discussion with you before offering any services. Mobile Marketing Solutions</p>
        <h4>Mobile Marketing Solutions</h4>
        <p class="text_justify">AdsRole is your one-stop for all your mobile marketing solutions. You can get all kinds of services from video marketing to mobile web advertising with us.</p>
    </div>
</div>

<!-- 3rd section end -->