<!-- 1st Section  Start   -->

<div class="container-fluid">
    <div class="row bg_color">
        <div class="container">
            <div class="row headRow">
                <div class="col-md-8 p-4 col_width">

                    <h1 style="text-align: justify;">#1 Google Certified Digital Marketing Agency</h1>
                    <p style="text-align: justify;" class="p-2">AdsRole can be your next&nbsp;<strong>Google digital
                            marketing agency</strong>&nbsp;always there to bring you to the top search results of Google
                        and other search engines.</p>
                </div>
                <div class="col-md-4 p-4 col_width">
                    <img class="clutchimg" [src]="magento" alt="clutch">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- 1st Section  end   -->

<!-- 2nd section Start -->
<div class="container m-4">
    <div class="row textJus">
        <h2>Redefining Online Digital Marketing with our Revolutionary Approach</h2>
        <p>We have been in this business for an extended period now. And that's what we echo in our
            quality&nbsp;<strong>SEO digital marketing</strong>&nbsp;method. From unique and effective keyword research
            to evaluating every move of Google's algorithms, we keep a hawk's eye on every aspect, ranking your website
            on top search results in no time.</p>
        <h2>Our online digital marketing package includes</h2>
    </div>
</div>
<!-- 2nd section end -->

<!-- 3rd section Start -->
<div class="container">
    <!-- content Row 1 -->

    <div class="row mb-4 mt-4">
        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Off-page SEO </h5>
                    <p class="card-text text_justify">Our experts evaluate the website's DA and PA (domain authority and
                        page authority, respectively) to create valuable backlinks and give your website the robust
                        backing it deserves and demands. We strengthen our off-page with keyword-rich content to make
                        our&nbsp;<strong>Google digital marketing&nbsp;</strong>services more meaningful for our
                        clients. All of these help us fetch quality results for our client's website.</p>
                </div>
            </div>

        </div>

        <!-- col 2 -->

        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">On-page SEO </h5>
                    <p class="card-text text_justify">Just like the backend, the front end has to look exceptionally
                        good. And that's what our SEO experts believe in. We ensure that our on-page&nbsp;<strong>SEO
                            digital marketing</strong>&nbsp;activities include keyword optimization of content, putting
                        relevant content on all marketing channels, and much more</p>
                </div>
            </div>


        </div>

        <!-- col 3 -->

        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Keyword Research</h5>
                    <p class="card-text text_justify">We understand the value of keywords in SEO (search engine
                        optimization) and writing marketing content for our client's website. Therefore, we have
                        developed a team of keyword research professionals to help our SEO team get the best keywords to
                        run a marketing campaign with. This has enabled us to entitle ourselves as the highly
                        recommended and&nbsp;<strong>the best digital marketing company&nbsp;</strong>in the United
                        States.</p>

                </div>
            </div>


        </div>
    </div>
    <!-- content Row 2 -->

    <div class="row mb-4 mt-4">
        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Website Analysis </h5>
                    <p class="card-text text_justify">Before we attempt&nbsp;<strong>online digital marketing</strong>&nbsp;practices, our experts make sure to go through each aspect of the website in detail. From checking the sitemap to analyzing the content placement, it includes everything.</p>
                </div>
            </div>

        </div>

        <!-- col 2 -->

        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Competitors’ Analysis</h5>
                    <p class="card-text text_justify">We keep a hawk's eye on your competitors' so you can remain different and better than the competitors doing good in the industry.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 3rd section end -->

<!-- 4 section Start -->
<div class="container m-4">
    <div class="row textJus">
        <p>Ready to avail of our&nbsp;<strong>online digital marketing</strong>&nbsp;services?</p>
        <p>Great! Let's Connect!</p>
        <p>Note &ndash; Due to pandemics, we are accepting virtual meet-ups only.</p>
    </div>
</div>
<!-- 4 section end -->