<!-- 1st Section  Start   -->

<div class="container-fluid">
    <div class="row bg_color">
        <div class="container">
            <div class="row headRow">
                <div class="col-md-8 p-4 col_width">

                    <h1 style="text-align: justify;">AdsRole – For Strategic Internet Marketing Services</h1>
                    <p style="text-align: justify;" class="p-2">We are providing proficient strategic internet marketing services at reasonable service packages..</p>
                </div>
                <div class="col-md-4 p-4 col_width">
                    <img class="clutchimg" [src]="magento" alt="clutch">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- 1st Section  end   -->.

<!-- 2nd section Start -->
<div class="container m-4">
    <div class="row textJus">
        <p>We are a highly ranked and preferred&nbsp;<strong>internet marketing agency</strong>&nbsp;serving almost all business domains, from finance to real estate. Our years of experience and knowledge-rich strategic approach make us the top player in the&nbsp;<strong>international SEO</strong>&nbsp;market with the guaranteed potential to deliver the most pleasing results.</p>
        <h2>Our strategic internet marketing service package includes</h2>
    </div>
</div>
<!-- 2nd section end -->

<!-- 3rd section Start -->
<div class="container">
    <!-- content Row 1 -->

    <div class="row mb-4 mt-4">
        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">On-page and Off-page SEO</h5>
                    <p class="card-text text_justify">Our SEO experts have true prowess over all aspects of on-page or off-page SEO (search engine optimization) practices. Some of the most common types of activities involved in our on-page or off-page SEO include – website optimization, content optimization, backlink creation, off-page content writing, keyword optimization, evaluating the high PA (page authority) and DA (domain authority) websites for marketing purposes, posting marketing content on third-party websites for better results, and much more.</p>
                </div>
            </div>

        </div>

        <!-- col 2 -->

        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Local and International SEO</h5>
                    <p class="card-text text_justify">Being the best&nbsp;<strong>internet marketing company</strong>, we practice and provide different types of SEO approaches, including &ndash; white-hat, local,<strong>&nbsp;and international SEO</strong>&nbsp;to bring your website to the top search results of Google and other search engines. Depending on the business type and requirement, we alter the SEO approach, which changes the keyword research and other marketing practices accordingly.</p>
                </div>
            </div>


        </div>

        <!-- col 3 -->

        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Content Marketing Services</h5>
                    <p class="card-text text_justify">The world knows content is the king and backbone of marketing. Resulting, we provide reliable and result-orienting content marketing services, adding more result-orientation to the overall marketing campaign. From on-page to off-page marketing content pieces, we have a team of pro writers with prowess over different marketing copies to provide.</p>

                </div>
            </div>


        </div>
    </div>
    <!-- content Row 2 -->

    <div class="row mb-4 mt-4">
        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Analysis and Optimization </h5>
                    <p class="card-text text_justify">Besides bringing your website to the first page of Google and other engines, our SEO experts evaluate the website and competitors’ online presence for the best results.</p>
                </div>
            </div>

        </div>

        <!-- col 2 -->

        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top center" [src]="magento" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Detailed Report</h5>
                    <p class="card-text text_justify">At the end of the week or month (depending on the clients’ requirements), we share a detailed report containing all the marketing practices performed within the specified time.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 3rd section end -->

<!-- 4 section Start -->
<div class="container m-4">
    <div class="row textJus">
        <p>Ready to hire us as your next&nbsp;<strong>internet marketing company</strong>?</p>
        <p>Great! Let&rsquo;s Connect!</p>
        <p>Note &ndash; Due to global pandemic, we are accepting only virtual meet-ups.</p>
    </div>
</div>
<!-- 4 section end -->